*.pyc
dist
datasets
pytorch_env
models
ckpt*
build
demo
runs
results
*/__pycache__/*
checkpoints
weights
*.ckpt
*.pth
*.ppm
*.flo
*.egg-info
*.npy
*.npz
masks_input/
masks_output/
true_and_pred/
multiclass-segmentation-pred/
custom/
plot_gt_pred/
refinement_results/
wandb/
metrics.csv
true_and_pred.zip
